@media only screen and (max-width: 992px) {
	#list-of-events{
		max-height: none;
	}
	header h4{
		font-size: 5em;
		color: #fff;
		font-size: 1.8em;
		font-weight: normal;
		display: block;
		text-align: center;
	}
	header select{
		width: 100%;
		font-size: 1.7em;
		padding: 5px;
		text-align: center;
	}
	header{
		overflow: hidden;
		padding-bottom: 30px;
		margin: 8px;
		margin-bottom: 0;
	}
	.main-container{
		padding: 8px;
	}
	.left-section th{
		padding: 0 50px;
	}
	.partition{
		display: none;
	}
	footer{
		clear: both;
		position: relative;
		bottom: 0;
		margin-top:30px;
	}
	.body, html{
		font-size: 1.4em !important;
	}
	.left-section, .right-section{
		width: 100%;
	}
	.right-section{
		padding: 10px;
    	margin: 0;
		margin-top: 5%;
		max-height: none;
	}
	header input,  input[type="checkbox" i]{
		height: 32px !important;
    	width: 6% !important;
    	padding: 50px;
    	animation: blinker 2s linear infinite;
	}
	.right-section #list-of-events td, th, tr{
		font-size: 1.3em;
		padding: 0 30px;
    	padding: 0 0em;
    	text-align: center;
	}
	.right-section th{
		font-size: 1.3em;
		padding: 0 1.29em;
	}
	.right-section td{
		font-size: 1.2em;
	}
	#list-of-events td, th{
		font-size: 1.2em;
	}
	.right-section  tr td{
		text-align: center;
		line-height: 1.4;
		border: 1px solid;
	}
	.right-section h4, .left-section h4{
		font-size: 1.5em;
	}
	#birth_anniv{
		font-size: 1.8em;
	}

	.login {
		width: 80%;
		top: 32%;
		left: 8%;
		height: 470px;
  	}
  	.login input{
	  	padding: 10px;
	  	width: 80%;
	    font-size: 30px;
	    padding-bottom: 20px;
	  }

}