<!DOCTYPE html>
<html>
<head>
	<title>Birthday Project</title>
	<script type="text/javascript" src="AngulaJS_CDN/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="AngulaJS_CDN/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/bd_css.css">
	<link rel="stylesheet" href="css/media-query.css">

</head>
<body ng-app="mainApp">

	<div class="blocker">
		<div class="opacity-login"></div>
		<div class="login" ng-controller="loginController">
	      <h1>Event App</h1>
	      <p id="error-msg"></p>
	      <form>
	        <p><input type="text" name="login" value="" placeholder="Username or Email" ng-model="username"></p>
	        <p><input type="password" name="password" value="" placeholder="Password" ng-model="password"></p><br>
	        <input type="button" ng-click="click_me()" value="Login">
	      </form>
	    </div>
	</div>
	
	<div ng-include="'template/header.html'" class="header-section"></div>
	
	<div ng-controller="mainController" class="main-container">	
		
		<div class="left-section">
			<h4 class="month"><span id="month_event_name">Birthday</span> of <span id="current_month"></span></h4>
			<div class="todays_birthday">
				<h4 id="birth_anniv"></h4>
			</div>
			<div id="list-of-events">
			<!-- List of Events month wise -->
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Date</th>
							<th>Contact</th>
							<th>Whatsapp</th>
							<th>Email</th>
							<th>Event</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>

		<div class="right-section">
			<h4>Get List of all the Events : <input type="checkbox" ng-model="myblock"></h4>
			<div ng-show="myblock">
				<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Date</th>
						<th>Contact</th>
						<th>Whatsapp</th>
						<th>Email</th>
						<th>Event</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users">
						<td>{{user.name}}</td> 
						<td>{{user.date}}</td>
						<td>{{user.contact_no }}</td>
						<td>{{user.whatsapp}}</td>
						<td>{{user.email}}</td>
						<td>{{user.event | uppercase}}</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>

	<div ng-include="'template/footer.html'"></div>

</body>
</html>